.button01 {
  background-color: black;
  color: white;

/*   border: none; */
  border-radius: 5px;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 15px;
  font-family: poppins;
  
  margin-left: 10px;
  margin-right:10px;
  margin-top: 10px;
  margin-bottom:10px;
  
  line-height: 22px;
  
  cursor: pointer;
  
  transition: background-color 0.5s;
}
.button01:hover {
  background-color: white;
  color: black;
}
.button01:active {
  background-color: white;
  color: red;
  border-color: red;
  opacity: 0.75;
}
.button02 {
  background-color: white;
  color: black;

  border: none;

  font-size: 15px;
  font-family: poppins;
  
  margin-left: 10px;
  margin-right:10px;
  margin-top: 10px;
  margin-bottom:10px;
  
  line-height: 22px;
  
  text-decoration: underline;
  
  cursor: pointer;
  
  transition: background-color 1s;
}
.button02:hover {
/*   background-color: #DCDCDC; */
  color: red;
}
.button02:active {
/*   background-color: #696969; */
  color: #000000;
  opacity: 0.5;
}

.button03{
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4E6B23;
  color: white;
  border-radius: 5px;
  border: 3px solid #87C232;
  
  font-size: 16px;
  font-family: poppins;
  font-weight: 500;
  transition: all 0.5s ease-in;
}
.button03:hover{
  background-color: #87C232;
}
.button03:active {
  opacity: 0.75;
}
